html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
}

.fond {
  background-image: url("img/2.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.headerIndex{
  position: fixed;
}

.header, .headerIndex {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: burlywood;
    width: 100%;
    margin-bottom: 0;
    opacity:0.95;
}
.menu , .connexion{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    margin-bottom: 0;

}


.section {
  width: 100%;
  height: 1000px;
  background-color: rgb(241,226,207);
  display: inline-block;
}

ul.menu > li {
	list-style: none;
	padding: 20px;
}

ul.menu > li > a {
	text-decoration: none;
	color: black;
}

ul.menu > li:hover {
	background-color: rgb(209,158,88);
  font-weight: bold;
}

body{
    margin:0;
}
.titreL{
    margin-left:5%;
}
img{
    margin-right: 2%;
    margin-bottom: 1%;
}
.item {
    display: flex;
}
.erreur{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.titreH , .titreH:hover{
    background-color: burlywood;
    text-decoration: none;
    font-size : 200%;
    color: black;
    text-transform: uppercase;
    padding-top: 2%;
    padding-bottom: 1%;
}
.hide {
    display:none;
}
.show{
    display: inline-block;
    margin-left: 10%;
}
.MDPverifErreur{
    display: none;
}

.title {
  margin-top: 50px;
  width: 251px;
  margin-left: auto;
  margin-right: auto;
}

.title > .titreH {
    font-size : 300%;
    background-color: rgb(241,226,207);
}

/*___*/


.formL , .compte , .adjItem , .formReserv, .inscription , .connexion, .item, .test{
    padding: 3% 17% 2% 3%;
    margin:  2% 25% 2% 25%;
    background: papayawhip;
    width:auto;
    text-align: right;
}


.body{
    color: bisque;
}

.item{
    text-align: center;
    display : block;
    background: papayawhip;
    padding: 3%;
}

h4{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

p{
    text-align: center;
}

.test{
    padding: 3%;
    margin:  2% 25% 2% 25%;
    background: papayawhip;
    width:auto;
    text-align: center;
}
